<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <form class="form-narrow form-horizontal" method="post" th:action="@{/administration/users/updateUserPermitions}" th:object="${changeUserPermitionsForm}">
        <!-- /* Show general error message when form contains errors */ -->
        <th:block th:if="${#fields.hasErrors('${changeUserPermitionsForm.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
        </th:block>
        <fieldset>
            <legend>Change user info</legend>
            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                <label for="username" class="col-lg-2 control-label">User name</label>
                <div class="col-lg-10">
                    <input type="text" readonly="readonly" class="form-control" id="username" placeholder="username" th:field="*{username}" />
                    <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect user name</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" readonly="readonly" class="form-control" id="email" placeholder="Email address" th:field="*{email}" />
                    <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
                </div>
            </div>


            <div class="form-group" th:classappend="${#fields.hasErrors('enable')}? 'has-error'">
                <label for="enable" class="col-lg-2 control-label">enable</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="enable" placeholder="enable" th:field="*{enable}" />
                    <span class="help-block" th:if="${#fields.hasErrors('enable')}" th:errors="*{enable}">Incorrect enable</span>
                </div>
            </div>
            <div class="form-group">
                <label for="permissions" class="col-lg-2 control-label">permissions</label>
                <div class="col-lg-10">
                    <select id="permissions" th:field="*{permissions}">
                        <option th:each="permition : ${T(com.jrquiz.entity.enums.Permissions).values()}" th:value="${permition}" th:text="${permition}" th:selected="${permition == T(com.jrquiz.entity.enums.Permissions).USER}" ></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-success">Update info</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>